.statusminiIcon {
  position: absolute;
  top: 21px;
  right: 11px;
  width: 68px;
  height: 13px;
}
.time {
  position: absolute;
  top: 11.75px;
  left: 16px;
  letter-spacing: -0.28px;
  font-weight: 600;
}
.backlinkIcon,
.search {
  position: absolute;
  top: 0;
  left: 20.69%;
}
.backlinkIcon {
  height: 61.54%;
  width: 13.79%;
  top: 17.76%;
  right: 85.14%;
  bottom: 20.71%;
  left: 1.07%;
  border-radius: var(--br-12xs-5);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.deeplink {
  position: absolute;
  top: 34px;
  left: 8px;
  width: 58px;
  height: 13px;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.cameraIndicator {
  position: absolute;
  top: 6.66px;
  left: 307.66px;
  border-radius: 50%;
  background-color: var(--color-lightgreen);
  width: 6.34px;
  height: 6.34px;
}
.statusBarmini {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 50px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--p2);
}
.myPage1 {
  top: 96px;
  left: 22px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.28px;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-darkslateblue-200);
}
.b,
.globeIcon,
.myPage1 {
  position: absolute;
}
.globeIcon {
  top: 0;
  left: 6px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.b {
  top: 26.75px;
  left: 0;
  letter-spacing: 0.01em;
}
.globeParent {
  top: 12px;
  left: 113px;
  width: 37px;
  height: 41.75px;
}
.globeParent,
.home,
.homeIcon {
  position: absolute;
}
.homeIcon {
  top: 0;
  left: 4px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.home {
  top: 27px;
  left: 0;
  letter-spacing: 0.01em;
}
.groupIcon,
.homeParent {
  position: absolute;
  top: 12px;
  left: 30px;
  width: 32px;
  height: 42px;
}
.groupIcon {
  height: 55.65%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 44.35%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconPerson,
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.07px;
  height: 41.75px;
}
.iconPerson {
  top: 12px;
  left: 316px;
  color: var(--color-white);
}
.homeIndicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 133px;
  height: 5px;
}
.homeBarmini {
  top: 60px;
  width: 375px;
  height: 34px;
}
.b2,
.homeBarmini,
.uitabbar {
  position: absolute;
  left: 0;
}
.uitabbar {
  top: 0;
  background-color: var(--color-darkgray-200);
  width: 375px;
  height: 94px;
  overflow: hidden;
}
.b2 {
  top: 29.75px;
  letter-spacing: 0.01em;
}
.iconMessageCircleOutline {
  position: absolute;
  height: 67.04%;
  width: 46.88%;
  top: 0;
  right: 26.56%;
  bottom: 32.96%;
  left: 26.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group,
.uitabbarParent {
  position: absolute;
  top: 9px;
  left: 201px;
  width: 64px;
  height: 44.75px;
}
.uitabbarParent {
  top: 718px;
  left: 0;
  width: 375px;
  height: 94px;
  font-size: var(--font-size-2xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-noto-sans);
}
.arrowIcon {
  position: absolute;
  top: 61px;
  left: 4px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div,
.iconCard {
  position: relative;
}
.iconCard {
  width: 28.5px;
  height: 21.36px;
}
.div {
  font-weight: 500;
}
.iconCardParent {
  position: absolute;
  top: 495px;
  left: 22px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 332px;
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-10xs)
    var(--padding-smi);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.iconSettingsOutline {
  position: relative;
  width: 32.04px;
  height: 32.04px;
}
.iconBellOutlineParent,
.iconSettingsOutlineParent {
  position: absolute;
  left: 22px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 332px;
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.iconSettingsOutlineParent {
  top: 550px;
  padding: var(--padding-12xs) var(--padding-6xs);
  cursor: pointer;
}
.iconBellOutlineParent {
  top: 440px;
  padding: var(--padding-10xs) var(--padding-6xs);
}
.iconBookmarkOutline {
  position: relative;
  width: 31.54px;
  height: 31.54px;
}
.iconBookmarkOutlineParent {
  position: absolute;
  top: 385px;
  left: 22px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 332px;
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-6xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.avatarsIcon {
  position: relative;
  width: 110px;
  height: 110px;
}
.text {
  align-self: stretch;
}
.div4,
.header1 {
  position: absolute;
}
.header1 {
  top: 0;
  left: 0;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.div4 {
  top: 141px;
  left: 164px;
}
.header {
  position: relative;
  width: 360px;
  height: 192px;
}
.frame {
  position: absolute;
  top: 163px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-dimgray-200);
  font-family: var(--font-roboto);
}
.myPage {
  position: relative;
  background: linear-gradient(180deg, #83a4d4, #b6fbff);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-slategray);
  font-family: var(--font-pretendard);
}
